*{
  margin: 0;
 }
 body{
  background-color: rgba(226, 216, 216, 0.397)
 }
.header{
 background-color: rgb(90, 89, 89);
 display: flex;
 justify-content: flex-end;
 align-items: center;
 height: 60px;
 padding: 5px 2%;
 
 }

.logo img{  
 height: 60px;
 width: auto;
 padding-left: 0%;
 transition: all 0.3s;
 }
 /*.logo img:hover{
   transform:scale(1,1.5);
 }*/
.logo{
 cursor: pointer;
 margin-right: auto;
}
 
.nav-links{
 list-style: none;
 
}
.nav-links li{
 display: inline-block;
 padding: 0 20px;
 position: relative;
}
.nav-links li:hover{
   transform: scale(1,1);
}
.nav-links li a:hover{
 color: #D4AF37;
}
.nav-links li::before{
 content: "";
 height: 2px;
 width: 0%;
 background: rgb(32, 32, 32);
 position: absolute;
 left:auto;
 bottom: -12px;
 transition: 0.4s ease-out;
}
.nav-links li:hover::before{
 width: 70%;
}
.nav-links a{
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 500;
 color: white;
 text-decoration: none;
   
 }
.button a{
 text-decoration: none;
 color: rgb(22, 21, 21);
 font-size: 20px;
 }
           
.button:hover{
 animation-name: swing;
     -webkit-animation-name: swing;
     -moz-animation-name: swing;
 animation-duration: 1s;
     -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
}

 @keyframes swing {
     20% {transform: rotate3d(0, 0, 1, 15deg);}
     40% {transform: rotate3d(0, 0, 1, -10deg);}
     60% {transform: rotate3d(0, 0, 1, 5deg);}
     80% {transform: rotate3d(0, 0, 1, -5deg);}
     to  {transform: rotate3d(0, 0, 1, 0deg);}
 }
 #shareButton {
  text-decoration: none;
  background: none;
   border: none;
  cursor: pointer;
  font-size: 20px;
}

#shareBbutton i{
  border:none;
  text-decoration: none;
  color: rgb(22, 21, 21);
  
}



* {
  box-sizing: border-box;
}

.Encabezado h1{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
 font-family:'Advent Pro', sans-serif;
 font-size: 2.441em;
 line-height: 1.5;
 z-index:1 ;
 }

 hr.titulo{
  display: flex;
  justify-content: center;
  height: 4px;
  width: 20%;
  margin:auto;  
  background-color: gray;
 }

 .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap ;
  }
  
 .ficha{
  margin:auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family:'Roboto Condensed',sans-serif;
   }
   .ficha i{
    margin-right: 10px;
   }
   .ficha p{
    font-size:medium;
   font-style:italic;
   }
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 35px;

}

form {
display: flex;
flex-direction:column;
}

label {
  font-weight:bold;
  font-family:'Roboto Condensed',sans-serif;
 
}
input{
  margin: 10px;
}
textarea{
  margin: 10px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
 border-radius: 5px;
  border: 2px solid #857f7f;
  background-color: whitesmoke;
}

input[type="submit"] {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color:rgba(87, 152, 196, 0.658);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3cb30d;
}

/* Estilos para hacerlo responsive */


  input[type="submit"] {
    width: auto;
  }


footer{
  margin-top:40%;
  height: 0.1em;
  width: auto;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color:rgb(0, 0, 0);
  display: flex;
  justify-content:flex-end;
  align-items:center;
  flex-direction:row;
}
 footer p {
  font-size: smaller;
  color: white;
 }  


* {
  scrollbar-width: thin;
  scrollbar-color: transparent aqua;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid rgb(90, 89, 89) ;
}
footer{
  margin-top: 7%;
  height: 0.1em;
  width: auto;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color:rgb(0, 0, 0);
  display: flex;
  justify-content:flex-end;
  align-items:center;
  flex-direction:row;
}
 footer p {
  font-size: smaller;
  color: white;
 }  


* {
  scrollbar-width: thin;
  scrollbar-color: transparent aqua;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid rgb(90, 89, 89) ;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}